/* CSS reset*/
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
margin: 0;
padding: 0;
font-weight: normal;
}

ol, ul {
list-style: none;
}

img {
max-width: 100%;
height: auto;
}


/* Styling */
:root {
    --main-bg-color: #A8DADC;
    --back-color: #E63946;
    --send-color: #14AE5C;
    --input-bg-color: #F1FAEE;
 }
#heading {
    text-align: center;
    font-size: 3rem;
}

#sentHeading {
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 40%;
}
.contactContainer {
    background-color: var(--main-bg-color);
    max-width: 460px;
    height: 470px;
    font-size: 1.3rem;
    font-weight: 300;
    margin: 1rem auto;
    color: rgb(39, 38, 38);
    border-radius: 12px;
}

.form {
    padding: 1rem;
    margin-top: 1rem;
}

textarea:focus, input:focus{
    outline: none;
}

.nameDiv,
.emailDiv {
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    margin-bottom: 0.5rem;
}

.messageDiv {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.messageDiv > label {
    margin-bottom: 0.5rem;
}

#name,
#email,
#message {
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: var(--input-bg-color);
}

.contactButtonsContainer {
    display: flex;
    justify-content: center;
}

#back,
#send {
    width: 140px;
    padding: 0.8rem 0;
    font-size: 1rem;
    margin: 1rem 1.2rem;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

#back {
    background-color: var(--back-color);
}

#send {
    background-color: var(--send-color);
}

#back:hover, #send:hover {
    animation: 0.2s linear 0s 1 forwards buttonAnimation;
}

textarea {
    resize: none;
}

@keyframes buttonAnimation {
from {
    transform: translateY(0);
}

to {
    transform: translateY(-4px);
}
}
@media only screen and (max-width: 480px) {
    .contactContainer {
        max-width: 320px;
        text-align: center;
    }
    
    .nameDiv,
    .emailDiv,
    .messageDiv {
        display: flex;
        flex-direction: column;
    }

    #sentHeading {
        padding-top: 60%;
    }
}